<launch>
<!--    pure nmpc controller-->
    <group ns="fhnp">
        <node pkg="ndp_nmpc_qd" type="nmpc_leader_node.py" name="nmpc_node" output="screen"/>
<!--        mavros_node-->
    </group>
    <group ns="xiao_feng">
        <node pkg="ndp_nmpc_qd" type="nmpc_leader_node.py" name="nmpc_node" output="screen"/>
<!--        mavros_node-->
    </group>
    <group ns="smile_boy">
        <node pkg="ndp_nmpc_qd" type="nmpc_leader_node.py" name="nmpc_node" output="screen"/>
<!--        mavros_node-->
    </group>
    <group ns="wan_yue">
        <node pkg="ndp_nmpc_qd" type="nmpc_leader_node.py" name="nmpc_node" output="screen"/>
<!--        mavros_node-->
    </group>

    <include file="$(find dop_sim)/launch/dop_sim.launch">
        <arg name="config_file" value="four_qd_test_downwash_config.yaml" />
        <arg name="rviz_file" value="four_qd.rviz" />
    </include>

</launch>
