<launch>
<!--    pure nmpc controller-->
    <group ns="fhnp">
        <node pkg="oop_qd_onbd" type="nmpc_leader_node.py" name="nmpc_node" output="screen"  respawn="true"/>
<!--        mavros_node-->
    </group>
    <group ns="xiao_feng">
        <node pkg="oop_qd_onbd" type="nmpc_follower_node.py" name="nmpc_node" output="screen"  respawn="true"/>
<!--        mavros_node-->
    </group>
<!--    <group ns="smile_boy">-->
<!--        <node pkg="oop_qd_onbd" type="nmpc_follower_node.py" name="nmpc_node" output="screen"/>-->
<!--&lt;!&ndash;        mavros_node&ndash;&gt;-->
<!--    </group>-->
<!--    <group ns="wan_yue">-->
<!--        <node pkg="oop_qd_onbd" type="nmpc_leader_node.py" name="nmpc_node" output="screen"/>-->
<!--&lt;!&ndash;        mavros_node&ndash;&gt;-->
<!--    </group>-->
    <include file="$(find dop_qd_sim)/launch/mul_qd_w_rviz.launch">
        <arg name="config_file" value="two_qd_config.yaml" />
    </include>
</launch>
